body
{
    color: white;
    background-color: rgb(9, 9, 88);
}

a:link
{
    color: rgb(255, 255, 255);
}

a:visited
{
    color: rgb(0, 255, 149);
}

table
{
    display: flex;
    width: 100%;
}

hr
{
    border: 0;
    height: 1px;
    background: white;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}