body
{
    color: white;
    background-color: black;
}

a:link
{
    color: white;
}

a:visited
{
    color: #18D45C;
}

table
{
    display: flex;
    width: 100%;
}

hr
{
    border: 0;
    height: 1px;
    background: white;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

img[src=""],img:not([src])
{
    width:0%;
    height:0%;
    opacity:0;
}