body
{
    color: rgb(255, 231, 153);
    background-color: rgb(2, 46, 7);
}

a:link
{
    color: rgb(255, 238, 0);
}

a:visited
{
    color: rgb(255, 36, 36);
}

table
{
    display: flex;
    width: 100%;
}

hr
{
    border: 0;
    height: 1px;
    background: white;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

.header_title{
    color: white;
}