body
{
    color: white;
    background-color: black;
}

a:link
{
    color: white;
}

a:visited
{
    color: #18D45C;
}

table
{
    display: flex;
    width: 100%;
}

hr
{
    border: 0;
    height: 1px;
    background: white;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

/* for home img */
.center-fit img{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}